.n-form-barcode {
	.n-form-barcode-container {
		text-align: center;
		.n-form-canvas-container {
			.overlay {
				align-items: center;
				border: dashed 1px #ccc;
				display: flex;
				justify-content: center;
				padding: 2rem;
				.n-form-barcode-retry {
					padding: 1rem;
					.icon {
						margin-right: 0.7rem;
					}
				}
			}
		}
	}
}

.n-form-barcode.n-form-barcode-scanned {
	.overlay {
		border: none;
		background-color: rgba(55,55,55,0.6);
		.n-form-barcode-retry {
			background-color: rgba(200,200,200,0.8);
		}
	}		
}