$n-form-date-hero-color: $primary-color !default;
$n-form-date-hero-contrast: $primary-contrast !default;

$n-form-date-color: $beta-color !default;
$n-form-date-contrast: $beta-contrast !default;
$n-form-date-border: $beta-border !default;

$n-form-line-height: 3rem !default;

.n-input-date {
	.fa:before {
		display: inline-block;
		margin-top: 1rem;
	}
	table {
		border: $n-form-date-border solid 1px;
		border-style: none solid solid none;
	}
	.time {
		padding: 0;
		display: flex;
		.n-form-component {
			margin: 0 !important;
			input {
				width: 100% !important;
			}
		}
	}
	caption {
		height: $n-form-line-height;
		line-height: $n-form-line-height;
		position: relative;
		background-color: $n-form-date-hero-color;
		color: $n-form-date-hero-contrast;
		
		.month {
			display: inline-block;
			font-weight: 700;
			font-size: 1.2rem;
			max-height: 3rem;
			overflow: hidden;
			width: calc(100% - 14rem);
		}
		a {
			background-color: inherit;
			color: inherit;
			display: inline-block;
			font-size: 1.625rem;
			height: $n-form-line-height;
			vertical-align: top;
			width: $n-form-line-height;
			
			&.n-input-date-previous-year {
				left: 0;
			}
			&.n-input-date-previous {
				left: $n-form-line-height;
			}
			&.n-input-date-next-year {
				right: 0;
			}
			&.n-input-date-next {
				right: $n-form-line-height;
			}
			&:hover {
				background-color: darken($n-form-date-hero-color, 10%);
				text-decoration: none;
			}
		}
	}
	td {
		background-color: $n-form-date-color;
		color: $n-form-date-contrast;
		text-align: center;
		padding: 0.7rem;
		&:hover {
			background-color: darken($n-form-date-color, 20%);
		}
	}
	th {
		padding: 0.7rem 1rem;
		background-color: $n-form-date-contrast;
		color: $n-form-date-color;
		border: $beta-border solid 1px;
		border-style: none none solid none;
		text-align: center;
	}
	
	td, span{
		&.n-input-date-today {
			background-color: $warning-color;
			a {
				color: $warning-contrast;
			}
		}
		&.n-input-date-selected {
			background-color: $success-color;
			a {
				color: $success-contrast;
			}
		}
		&.n-input-date-not-available {
			background-color: none;
			a.n-input-date-label {
				color: lighten($n-form-date-contrast, 60%);
			}		
		}
	}
}
